:root {
  --fg: #111;
  --bg: #669bbc;
  --font: Helvetica, Arial, sans-serif;
  --font-h: Helvetica, Arial, sans-serif;
  --main-width: 640px;
  --radius: 0px
}

@media (prefers-color-scheme:dark) {
  :root {
    --fg: #fff;
    --bg: #073b4c;
    --accent: #06d6a0;
    --yellow: #FFD166;
    --red: #EF476F;
    --blue: #118AB2;
  }
}

html {
  font-size: 1.25rem;
  box-sizing: border-box;
  height: 100%;
  margin-bottom: 10px;
}

*,
::after,
::before {
  box-sizing: inherit;
  text-decoration-thickness: .1rem
}

body {
  margin: 0;
  background: var(--bg);
  font-family: var(--font)
}

a,
body {
  color: var(--fg)
}

main section+section {
  padding: 2rem 0
}

body>footer,
body>header,
body>main {
  margin: auto;
  max-width: calc(var(--main-width) + 20px);
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  padding-block-end: 10px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-h)
}

h1 {
  font-size: 2em
}

h2 {
  font-size: 1.5em
}

h3 {
  font-size: 1.17em
}

h4 {
  font-size: 1em
}

h5 {
  font-size: .83em
}

h6 {
  font-size: .67em
}

footer {
  text-align: center
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  display: inline-block;
  vertical-align: middle;
  padding: .2rem .5rem;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: .5rem;
  background: var(--bg);
  color: var(--fg);
  border: .1rem solid var(--fg);
  border-radius: var(--radius);
  cursor: pointer
}

button:disabled,
input[type=button]:disabled,
input[type=reset]:disabled,
input[type=submit]:disabled {
  border-style: dashed;
  cursor: not-allowed
}

ul {
  list-style: square;

  li {
    padding-block: 5px;
  }
}

nav {
  margin: 2rem 0
}

nav ul {
  padding: 0;
  list-style: none
}

nav ul li {
  margin: 0 .2rem;
  display: inline-block;
}

fieldset {
  border: .1rem solid var(--fg);
  border-radius: var(--radius)
}

label,
legend {
  display: block;
  font-weight: 700;
  margin-bottom: .4rem
}

input[type=text],
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: .2rem .5rem;
  width: 100%;
  font-size: 1rem;
  color: var(--fg);
  background-color: var(--bg);
  border: .1rem solid var(--fg);
  border-radius: var(--radius);
  font-family: var(--font)
}

input::placeholder,
textarea::placeholder {
  color: var(--fg);
  font-style: italic;
  opacity: 1
}

blockquote,
pre {
  margin-left: 0;
  margin-right: 0;
  padding: .5rem .8rem;
  border-left: .1rem solid var(--fg);
  overflow-y: hidden
}

pre {
  border: .05rem dotted var(--fg);
  position: relative;
}

code {
  background-color: #00f5d4;
  color: var(--bg);
  border-radius: 8px;
  padding-inline: 5px;
}

pre>code {
  white-space: pre;
  display: block;
  font-size: .8rem;
  background-color: inherit;
  color: inherit;
}

.copy-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

.copy-btn:hover {
  background: var(--border-color);
  color: var(--title-color);
}

hr {
  border: .05rem solid var(--fg)
}
